#body{
    -fx-background-color: #F2F2F2;

}

.btn{
    -fx-background-color: #BDEFEA;
    -fx-text-fill: #011627;
    -fx-font-size: 27px;
    -fx-pref-width: 300px;
    -fx-pref-height: 94px;
    -fx-cursor: hand;
    -fx-background-radius: 10px;
}

.small_btn{
    -fx-background-color: #011627;
    -fx-text-fill: #F2F2F2;
    -fx-font-size: 27px;
    -fx-pref-width: 150px;
    -fx-pref-height: 60px;
    -fx-cursor: hand;
    -fx-background-radius: 10px;
}

.back-button{
    -fx-background-color: #011627;
    -fx-text-fill: #F2F2F2;
    -fx-font-size: 20px;
    -fx-pref-width: 80px;
    -fx-pref-height: 30px;
    -fx-cursor: hand;
    -fx-background-radius: 10px;
}

.transparent_pane{
    -fx-opacity: 0;
    -fx-font-size: 27px;
    -fx-pref-width: 0px;
    -fx-pref-height: 94px;
    -fx-background-radius: 10px;
}


.light-bg{
    -fx-background-color: #F2F2F2;
}
.light-primary-bg{
    -fx-background-color: #BDEFEA;
}
.primary-bg{
    -fx-background-color: #2BB6A8;
}
.dark-bg{
    -fx-background-color: #011627;
    -fx-text-fill: #F2F2F2;
}

